# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
sandbox/jMonkey-test/nbproject/private/
sandbox/jMonkey-test/build/
sandbox/jMonkey-test/dist/
/sandbox/girts-libgdx-test/.nb-gradle/
/Tutorials/07 Timed events/.nb-gradle/
/Tutorials/08 Enemy/.nb-gradle/