# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
sandbox/jMonkey-test/nbproject/private/
sandbox/jMonkey-test/build/
sandbox/jMonkey-test/dist/
/sandbox/girts-libgdx-test/.nb-gradle/
/Tutorials/07 Timed events/.nb-gradle/
/Tutorials/08 Enemy/.nb-gradle/
/Tutorials/14 Playing background music/.nb-gradle/
/Tutorials/20 Show background image/.nb-gradle/
/Tutorials/01 Hello world/.nb-gradle/
Tutorials/03 Input handling/.nb-gradle/
Tutorials/02 Creating an entity/.nb-gradle/

Tutorials/04 Moving and rotating an entity/\.nb-gradle/profiles/private/aux-config

Tutorials/04 Moving and rotating an entity/\.nb-gradle/private/cache/
/Tutorials/23 Viewports/.nb-gradle/
/Tutorials/17 Game State/.nb-gradle/
/Tutorials/07 Timed events - Copy/.nb-gradle/
/Tutorials/17 GameState/.nb-gradle/
/Tutorials/17 GameState - Copy/.nb-gradle/
/Tutorials/18 Save load game state/.nb-gradle/
/Tutorials/181 Save game state in cloud/.nb-gradle/
Tutorials/24 Text dialog without text  input/\.idea/

Tutorials/24 Text dialog without text  input/html/build/tmp/draftWar/MANIFEST\.MF

Tutorials/24 Text dialog without text  input/html/build/tmp/war/MANIFEST\.MF
